<%= render 'shared/local' %>
<h1 class="text-3xl font-semibold text-center mb-8 text-gray-800">Signup</h1>

<%= form_for @admin, url: signup_path, html: { class: "max-w-lg mx-auto bg-white p-8 rounded-lg shadow-lg" } do |f| %>
  <div class="mb-6">
    <%= f.label :username, class: "block text-sm font-medium text-gray-700" %>
    <%= f.text_field :username, class: "mt-2 block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500" %>
  </div>

  <div class="mb-6">
    <%= f.label :password, class: "block text-sm font-medium text-gray-700" %>
    <%= f.password_field :password, class: "mt-2 block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500" %>
  </div>

  <div class="mb-6">
    <%= f.label :password_confirmation, "Confirm Password", class: "block text-sm font-medium text-gray-700" %>
    <%= f.password_field :password_confirmation, class: "mt-2 block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500" %>
  </div>

  <div class="mb-6">
  <%= f.label :province_id, "Select Province", class: "block text-sm font-medium text-gray-700" %>
  <%= f.select :province_id,
        @provinces.collect { |p| [p.name, p.id] },
        { prompt: "Select Province" },
        class: "mt-2 block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500",
        required: true  %>  <!-- added required -->
</div>


  <div class="mt-6">
    <%= f.submit "Sign Up", class: "w-full py-2 px-4 bg-indigo-600 text-white font-semibold rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
  </div>
<% end %>

<p class="mt-4 text-center text-sm text-gray-600">
  Already have an account? 
  <%= link_to 'Login', login_path, class: "text-indigo-600 hover:text-indigo-700" %>
</p>
